.Landing {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	overflow-y: auto;

	text-align: center;

	background-color: @primary-background-color;
	align-items: center;
	-webkit-app-region: drag;
	justify-content: center;

	&.Landing--hidden {
		display: none;
	}

	.Landing__inner {
		position: relative;

		min-width: 600px;

		text-align: center;

		-webkit-app-region: no-drag;
	}

	.Landing__logo {
		max-width: 520px;
		-webkit-user-drag: none;
	}
}

.RegisterServer {
	position: relative;
	z-index: 1;

	width: 100%;
	max-width: 520px;
	margin: 20px auto;
	padding: 20px;

	color: #444444;
	border-radius: 2px;
	background-color: #ffffff;
	box-shadow: 0 0 2px 0 rgba(47, 52, 61, 0.08), 0 0 12px 0 rgba(47, 52, 61, 0.12);

	h2 {
		.rocket-h2;

		margin: 0;
		padding: 18px 0;

		color: @primary-font-color;

		line-height: 24px;

		&.error {
			color: #b40202;
		}
	}
}

#login-card {
	img {
		width: 200px;
	}

	.input-text {
		position: relative;

		margin: 0 0 14px;

		input {
			position: relative;

			padding: 4px 8px;

			border-width: 0;
			border-bottom: 1px solid #dfdfdf;
			background-color: transparent;
			box-shadow: 0 0 0;

			font-size: 22px;
			font-weight: 400;

			&.error {
				border-bottom: 1px solid #b40202;

				&::-webkit-input-placeholder {
					color: #b40202;
				}

				&:-moz-placeholder {
					color: #b40202;
				}

				/* Firefox 18- */

				&::-moz-placeholder {
					color: #b40202;
				}

				/* Firefox 19+ */

				&:-ms-input-placeholder {
					color: #b40202;
				}
			}
		}

		input:-webkit-autofill {
			color: #ffffff !important;
			background-color: transparent !important;
			box-shadow: 0 0 0 1000px #f4f4f4 inset;
		}
	}
}
