.Sidebar {
	position: fixed;

	z-index: 100000;
	top: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;

	width: 68px;
	height: 100%;

	color: #ffffff;

	background-color: @primary-background-color;
	align-items: stretch;
	-webkit-app-region: drag;

	&.Sidebar--hidden {
		display: none;
	}

	.Sidebar__inner {
		display: flex;
		flex-direction: column;

		flex: 1;

		padding-top: 28px;

		background-color: rgba(0, 0, 0, 0.1);
	}

	.Sidebar__server-list {
		-webkit-app-region: no-drag;
	}
}

.ServerList {
	position: relative;
	z-index: 2;

	margin: 0;
	padding: 0;

	.ServerList__item {
		position: relative;

		display: flex;

		height: 55px;
		margin-bottom: 17px;

		cursor: pointer;
		-webkit-user-select: none;
		user-select: none;

		color: inherit;

		font-size: 17pt;
		align-items: center;
		-webkit-app-region: no-drag;
		filter: brightness(110%);
		justify-content: flex-start;

		&[data-tooltip]::after {

			position: absolute;
			top: 50%;
			left: 100%;

			display: block;
			visibility: hidden;

			padding: 0.5rem 1rem;

			content: attr(data-tooltip);

			transition: all 0.18s ease-out 0.18s;
			transform: translate(10px, -50%);

			white-space: nowrap;
			pointer-events: none;

			opacity: 0;

			color: #ffffff;
			border-radius: 2px;
			background-color: #1f2329;

			font-size: 0.875rem;
			line-height: normal;
		}

		&[data-tooltip]:hover::after {
			visibility: visible;

			transform: translate(0, -50%);

			opacity: 1;
		}

		img {
			position: absolute;
			left: 15px;

			display: none;

			width: 42px;
			height: 42px;

			transition: opacity 0.2s;

			opacity: 0.6;
		}

		span {
			position: absolute;

			width: 100%;

			transition: opacity 0.2s;
			text-align: center;

			opacity: 0.6;

			line-height: 60px;
		}

		&:hover {
			span,
			img {
				opacity: 0.8;
			}
		}
	}

	.Server {
		&::before {
			width: 0;
			height: 0;

			content: "";
			transition: height 0.2s, opacity 0.2s;

			opacity: 1;
			border-radius: 0 3px 3px 0;
			background-color: #ffffff;
		}

		.Server__badge {
			position: absolute;
			z-index: 1;
			top: 2px;
			right: 8px;

			min-width: 15px;
			padding: 0 5px;

			text-align: center;

			border-radius: 20px;
			background-color: #e43325;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

			font-family: Helvetica;
			font-size: 11px;
			font-weight: bold;
			line-height: 15px;
		}

		.Server__hotkey {
			position: absolute;
			bottom: -12px;

			width: 100%;

			text-align: center;

			opacity: 0.6;

			font-size: 12px;
			font-weight: 600;
			line-height: 11px;
		}

		&.Server--moving {
			opacity: 0.5;
		}

		&.Server--unread {
			&::before {
				width: 5px;
				height: 6px;

				opacity: 0.6;
			}
		}

		&.Server--active {
			&::before {
				width: 5px;
				height: 30px;

				opacity: 1;
			}

			img {
				pointer-events: none;

				opacity: 1;
			}

			span {
				opacity: 1;
			}
		}
	}

	.AddServer {
		height: 30px;

		span {
			font-size: 2.5rem;
		}
	}
}
